body {
	/*
	display: flex;
	justify-content: center;
	align-items: center;
	*/
	height: 100vh;
	overflow: hidden;
	margin: 0;
	background-image: url('grass.svg');
	background-position: 0 0;
	/* background-size: 50%; */
}

h1 {
	color: #ffd3ae;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-size: 7em;
	/* letter-spacing: -.07em; */
	line-height: 1;
	-webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
	-webkit-text-stroke: min(.6vw, 8px ) #333;
}

.draggable-element {
	background-image: url('finger.svg');
	transform:scaleY(-1);
	width: 30vw;
	height: 30vw;
	/* background-color: #FFF2;
	outline: 3px solid white;
	border-radius: 100%; */
	cursor: pointer;
	position: absolute;
	/* margin: 0 auto; */
	top: 100px;
	left: calc( 50% - 15vw );
	/* margin-left: -50px; */
	/* transform: translateX(-50%); */
	/* top: 50%; */
	/* justify-content: center; */
	/* align-self: center; */
	/*transform: translateX(-50%) translateY(-50%);*/
}

#distance {
	position: absolute;
	right: 1%;
	bottom: 0;
	color: #FFF2;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 7em;
}
